<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      QRcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="button-container">
    <ion-button class="scan-button" (click)="scanBarcode()" color="danger">
      <div class="button-content">
        <ion-icon name="qr-code-outline" size="large"></ion-icon>
        <span>Scan QRcode</span>
      </div>
    </ion-button>
  </div>

  <ion-card class="resultado">
    <ion-card-header>Conteudo</ion-card-header>
    <ion-card-content> {{ resultado }}</ion-card-content>
  </ion-card>
</ion-content>
